In [103]:
import pandas as pd

In [104]:
profile = pd.read_excel('datasets/alunos/profiles.xlsx')

In [105]:
profile.head()

,NOME:,IDADE,REGIAO RESIDÊNCIA,FORMAÇÃO ACADÊMICA:,JÁ UTILIZOU GIT?,JÁ UTILIZOU PANDAS?,JÁ UTILIZOU NUMPY?
0,939065eece719c2e24382f347e0395ab9aa3f4933249c3...,<30,Sul/Sudeste,NaN,NÃO,NÃO,NÃO
1,f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a...,<30,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO
2,365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbea...,<30,Nordeste,Ciências Exatas,NÃO,SIM,SIM
3,d59df35ac8cca9741c7d14751827a93372178571f12e72...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO
4,9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5b...,<30,Sul/Sudeste,Ciências Exatas,NÃO,SIM,SIM

In [106]:
import os

def carrega_pasta_csv(path:str) -> pd.DataFrame:
    """
    Carrega todos os arquivos CSV de uma pasta e retorna um DataFrame consolidado.
    Parâmetros:
    path (str): O caminho da pasta contendo os arquivos CSV.
    Retorna:
    pd.DataFrame: Um DataFrame consolidado contendo os dados de todos os arquivos CSV da pasta.
    Exemplo:
    >>> carrega_pasta_csv('/caminho/para/pasta')
    Retorna um DataFrame consolidado com os dados dos arquivos CSV da pasta especificada.
    """

    dados_aulas = []

    for file in os.listdir(path):
        if file.endswith('.csv'):
            df = pd.read_csv(os.path.join(path, file))
            df['data'] = file.split('_')[-1].split('.')[0]
            dados_aulas.append(df)

    dados_aulas = pd.concat(dados_aulas)
    return dados_aulas.reset_index(drop=True)

'03:10:20' => 3h10min20s ==> xxxmin

In [107]:
from datetime import datetime

str = '03:10:20'

In [108]:
%%timeit
time_obj = datetime.strptime(str, '%H:%M:%S')
time_obj.hour * 60 + time_obj.minute +time_obj.second/60

18 μs ± 2.21 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [109]:
%%timeit
sum([int(x[0])*x[1] for x in zip(str.split(':'), [60, 1, 1/60])])

2.66 μs ± 221 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [110]:
def convert_hora2minutos(hora:str) -> float:
    return round(sum([int(x[0])*x[1] for x in zip(hora.split(':'), [60, 1, 1/60])]), 3)

In [111]:
dados_aulas = carrega_pasta_csv(path = os.path.join('datasets', 'alunos'))

In [112]:
dados_aulas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Participant      105 non-null    object
 1   Attendance time  105 non-null    object
 2   Camera time      105 non-null    object
 3   Mic time         105 non-null    object
 4   Time speaking    105 non-null    object
 5   Time presenting  105 non-null    object
 6   Hands raised     105 non-null    int64
 7   Emojis sent      105 non-null    int64
 8   Messages sent    105 non-null    int64
 9   data             105 non-null    object
dtypes: int64(3), object(7)
memory usage: 8.3+ KB

In [113]:
dados_aulas.sample(5)

,Participant,Attendance time,Camera time,Mic time,Time speaking,Time presenting,Hands raised,Emojis sent,Messages sent,data
97,edab98fbc0a76faf6231492eccd3cac4779cdce812248f...,03:12:41,01:41:53,00:16:53,00:04:32,00:00:00,0,87,57,2024-08-23
54,ad6acd323806e30ca6a37ad2cb78f28493addc17339ef2...,02:46:10,01:26:00,00:01:42,00:00:47,00:00:00,0,65,2,2024-08-28
56,92a66ccdd2dc048646b940702877736fa5941c6eafee71...,00:07:09,02:39:41,00:03:18,00:02:41,00:00:00,3,40,10,2024-08-21
101,2d737c12904c8a1890cfb106c74c02684317184d8dff3f...,02:59:24,02:14:12,00:13:14,00:02:11,00:00:00,0,6,5,2024-08-23
34,daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb...,03:05:01,02:24:40,00:07:31,00:04:49,00:00:00,1,55,3,2024-08-28

In [114]:
colunas_processar = ['Attendance time', 'Camera time', 
                     'Mic time', 'Time speaking',
                     'Time presenting']

In [115]:
for coluna in colunas_processar:
    dados_aulas[coluna] = dados_aulas[coluna].apply(convert_hora2minutos)

In [116]:
dados_aulas

,Participant,Attendance time,Camera time,Mic time,Time speaking,Time presenting,Hands raised,Emojis sent,Messages sent,data
0,ca37c192f9f7539369cd549189760345543f168d828f33...,181.183,79.617,0.117,0.000,0.000,0,81,1,2024-08-26
1,2b2a60f6e5485123c6c8aa012d76f76187489ddd5d003a...,17.067,19.500,10.900,2.083,0.000,0,7,2,2024-08-26
2,ad6acd323806e30ca6a37ad2cb78f28493addc17339ef2...,166.150,48.850,1.667,0.633,0.000,0,64,4,2024-08-26
3,4b11afc7fc6458effe203e924722e2863e66f4fe0b1ba2...,182.017,145.767,3.717,0.167,0.000,1,5,4,2024-08-26
4,daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb...,186.217,180.233,47.183,37.317,0.000,1,40,6,2024-08-26
...,...,...,...,...,...,...,...,...,...,...
100,a73035ba29e279c7dd54a959055e0ddafacb294addf8df...,179.117,114.167,0.200,0.167,0.000,0,6,0,2024-08-23
101,2d737c12904c8a1890cfb106c74c02684317184d8dff3f...,179.400,134.200,13.233,2.183,0.000,0,6,5,2024-08-23
102,92a66ccdd2dc048646b940702877736fa5941c6eafee71...,174.833,123.433,0.517,0.417,0.000,0,19,3,2024-08-23
103,6d26619b6b29eaeba89901c3aac888cec5093965f5fcaf...,171.933,108.700,0.433,0.300,0.000,0,147,14,2024-08-23
104,cbb84bc2fe8d064e85a7b92507d3e1087847c3320c0071...,178.900,148.950,31.083,13.633,0.767,8,58,4,2024-08-23

In [117]:
dados_aulas['data'] = pd.to_datetime(dados_aulas['data'], format='%Y-%m-%d')

In [118]:
dados_aulas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Participant      105 non-null    object
 1   Attendance time  105 non-null    float64
 2   Camera time      105 non-null    float64
 3   Mic time         105 non-null    float64
 4   Time speaking    105 non-null    float64
 5   Time presenting  105 non-null    float64
 6   Hands raised     105 non-null    int64
 7   Emojis sent      105 non-null    int64
 8   Messages sent    105 non-null    int64
 9   data             105 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 8.3+ KB

In [119]:
dados_aulas.describe()

,Attendance time,Camera time,Mic time,Time speaking,Time presenting,Hands raised,Emojis sent,Messages sent,data
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105
mean,135.946648,121.950952,16.952562,8.656181,5.868257,1.352381,40.923810,9.438095,2024-08-24 15:05:08.571428608
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2024-08-21 00:00:00
25%,21.267000,95.450000,0.117000,0.000000,0.000000,0.000000,5.000000,1.000000,2024-08-23 00:00:00
50%,178.950000,134.850000,2.467000,1.100000,0.000000,0.000000,30.000000,4.000000,2024-08-26 00:00:00
75%,184.400000,162.517000,16.883000,4.817000,0.000000,2.000000,58.000000,9.000000,2024-08-28 00:00:00
max,211.983000,185.717000,195.717000,154.450000,153.433000,10.000000,294.000000,86.000000,2024-08-28 00:00:00
std,75.537072,51.424098,40.351678,27.311096,26.452444,2.192562,49.071709,15.063918,NaN

In [120]:
limite_50 = 134.85
limite_70 = 162.517

In [121]:
df2 = dados_aulas[dados_aulas['Camera time'] < limite_50].reset_index(drop=True)

In [122]:
df2.Participant.value_counts()

Participant
2b2a60f6e5485123c6c8aa012d76f76187489ddd5d003a82d627986f4c928125    6
86542b003e830186a9f5a8ce2f147bfecf7ba00c73e89747924abb431c4807ef    4
8e59bee15978f8c0a1d9a9d82802b2be19083c373454fd44681f83c5524c2b35    3
47a7c412c0ede005f50d7fcf7c9207e69e53f2045d81c793edad4b893693202a    3
ad6acd323806e30ca6a37ad2cb78f28493addc17339ef246b2934e18a7765b07    3
2d737c12904c8a1890cfb106c74c02684317184d8dff3fbe83324bc1d21d438d    3
edab98fbc0a76faf6231492eccd3cac4779cdce812248f4147136a9d51c281b6    3
dba68f39815752c5ce8ed9ed8740d520ad5b1fd9640f8d95c377170d0fef76e8    3
6d26619b6b29eaeba89901c3aac888cec5093965f5fcaf3420d9f0038024c29f    3
5c42c56b65dbc3ef6676cd3cb68accb47c45ee9b25ce5480bd255422d673da0f    3
ca37c192f9f7539369cd549189760345543f168d828f33f85f4799745a41e45a    2
92a66ccdd2dc048646b940702877736fa5941c6eafee717b3ff480cabb9ab3f4    2
365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbeaf8936f7fecc65ae654    2
3c24c973491a4900c95f36a53c7e70a52c48a08e706edab9eaa8ab7911af7b39    2
f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a0c222dd0be50cf8560    2
6b1335aa7b237370369cd619a67b4695844f97bc1f42bec8b7771615fe6d4d74    2
a73035ba29e279c7dd54a959055e0ddafacb294addf8dfe8fdf5ac0118550f6d    2
9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5ba9f25fce1a110dfcd1    1
939065eece719c2e24382f347e0395ab9aa3f4933249c3b2ad1a1fa7027a91be    1
daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb0b12ed5d9dacb0d2a2    1
71ebcb21b682814489a1c1ca431691e9c0c38a28ebeecec2eec5e6e3d75b554b    1
Name: count, dtype: int64

In [123]:
dados_aulas[(dados_aulas['Camera time'] >= limite_50) & 
            (dados_aulas['Camera time'] < limite_70)].Participant.value_counts()

Participant
4b11afc7fc6458effe203e924722e2863e66f4fe0b1ba20b41d68e3328415800    4
cbb84bc2fe8d064e85a7b92507d3e1087847c3320c007173f98e6a3fed9bc570    3
d59df35ac8cca9741c7d14751827a93372178571f12e725a4d11d3452463a502    2
9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5ba9f25fce1a110dfcd1    2
04b90521e23b6a5589c7f55c86a71a3fe223dd4631ea51fac7d42ec3ffb561f6    2
6b1335aa7b237370369cd619a67b4695844f97bc1f42bec8b7771615fe6d4d74    1
daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb0b12ed5d9dacb0d2a2    1
3c24c973491a4900c95f36a53c7e70a52c48a08e706edab9eaa8ab7911af7b39    1
a73035ba29e279c7dd54a959055e0ddafacb294addf8dfe8fdf5ac0118550f6d    1
92a66ccdd2dc048646b940702877736fa5941c6eafee717b3ff480cabb9ab3f4    1
dba68f39815752c5ce8ed9ed8740d520ad5b1fd9640f8d95c377170d0fef76e8    1
71ebcb21b682814489a1c1ca431691e9c0c38a28ebeecec2eec5e6e3d75b554b    1
6d26619b6b29eaeba89901c3aac888cec5093965f5fcaf3420d9f0038024c29f    1
47a7c412c0ede005f50d7fcf7c9207e69e53f2045d81c793edad4b893693202a    1
ad6acd323806e30ca6a37ad2cb78f28493addc17339ef246b2934e18a7765b07    1
ba3138325b35c4d45f2a9ece725128f7b9f88df5c4828e0635447b84c5d51e7b    1
2b2a60f6e5485123c6c8aa012d76f76187489ddd5d003a82d627986f4c928125    1
8e59bee15978f8c0a1d9a9d82802b2be19083c373454fd44681f83c5524c2b35    1
Name: count, dtype: int64

In [124]:
dados_aulas.query(f'`Camera time` >= {limite_70}').Participant.value_counts()

Participant
939065eece719c2e24382f347e0395ab9aa3f4933249c3b2ad1a1fa7027a91be    3
ba3138325b35c4d45f2a9ece725128f7b9f88df5c4828e0635447b84c5d51e7b    3
daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb0b12ed5d9dacb0d2a2    2
04b90521e23b6a5589c7f55c86a71a3fe223dd4631ea51fac7d42ec3ffb561f6    2
71ebcb21b682814489a1c1ca431691e9c0c38a28ebeecec2eec5e6e3d75b554b    2
d59df35ac8cca9741c7d14751827a93372178571f12e725a4d11d3452463a502    2
365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbeaf8936f7fecc65ae654    2
5c42c56b65dbc3ef6676cd3cb68accb47c45ee9b25ce5480bd255422d673da0f    1
edab98fbc0a76faf6231492eccd3cac4779cdce812248f4147136a9d51c281b6    1
cbb84bc2fe8d064e85a7b92507d3e1087847c3320c007173f98e6a3fed9bc570    1
a73035ba29e279c7dd54a959055e0ddafacb294addf8dfe8fdf5ac0118550f6d    1
f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a0c222dd0be50cf8560    1
92a66ccdd2dc048646b940702877736fa5941c6eafee717b3ff480cabb9ab3f4    1
6b1335aa7b237370369cd619a67b4695844f97bc1f42bec8b7771615fe6d4d74    1
2d737c12904c8a1890cfb106c74c02684317184d8dff3fbe83324bc1d21d438d    1
ca37c192f9f7539369cd549189760345543f168d828f33f85f4799745a41e45a    1
2b2a60f6e5485123c6c8aa012d76f76187489ddd5d003a82d627986f4c928125    1
3c24c973491a4900c95f36a53c7e70a52c48a08e706edab9eaa8ab7911af7b39    1
Name: count, dtype: int64

In [125]:
colunas = dados_aulas.columns

In [126]:
dados_agregados = dados_aulas[colunas[:-1]]\
    .groupby('Participant')\
    .agg({c: ['mean', 'std','median'] for c in colunas[1:-1]})

### Merge (join)

Outra tarefa muito comum quando estamos trabalhando com bases de dados é o **cruzamento**

Para fazer isso, utilizamos o método **.merge()**, cujos modos de cruzamento são:

<img src="https://community.qlik.com/legacyfs/online/87693_all-joins.png" width=450>

In [127]:
profile.columns

Index(['NOME:', 'IDADE', 'REGIAO RESIDÊNCIA', 'FORMAÇÃO ACADÊMICA:',
       'JÁ UTILIZOU GIT?', 'JÁ UTILIZOU PANDAS?', 'JÁ UTILIZOU NUMPY?'],
      dtype='object')

In [128]:
dados_agregados.reset_index(inplace=True)

In [137]:
dados_agregados.columns = [' '.join(col).strip() for col in dados_agregados.columns.values]

In [139]:
dados_agregados.columns

Index(['Participant', 'Attendance time mean', 'Attendance time std',
       'Attendance time median', 'Camera time mean', 'Camera time std',
       'Camera time median', 'Mic time mean', 'Mic time std',
       'Mic time median', 'Time speaking mean', 'Time speaking std',
       'Time speaking median', 'Time presenting mean', 'Time presenting std',
       'Time presenting median', 'Hands raised mean', 'Hands raised std',
       'Hands raised median', 'Emojis sent mean', 'Emojis sent std',
       'Emojis sent median', 'Messages sent mean', 'Messages sent std',
       'Messages sent median'],
      dtype='object')

In [141]:
profile.shape, dados_agregados.shape

((21, 7), (26, 25))

In [140]:
pd.merge(left=profile,
         left_on='NOME:',
         right=dados_agregados, 
         right_on='Participant',
         how='inner')

,NOME:,IDADE,REGIAO RESIDÊNCIA,FORMAÇÃO ACADÊMICA:,JÁ UTILIZOU GIT?,JÁ UTILIZOU PANDAS?,JÁ UTILIZOU NUMPY?,Participant,Attendance time mean,Attendance time std,...,Time presenting median,Hands raised mean,Hands raised std,Hands raised median,Emojis sent mean,Emojis sent std,Emojis sent median,Messages sent mean,Messages sent std,Messages sent median
0,939065eece719c2e24382f347e0395ab9aa3f4933249c3...,<30,Sul/Sudeste,NaN,NÃO,NÃO,NÃO,939065eece719c2e24382f347e0395ab9aa3f4933249c3...,139.041750,87.697917,...,0.0000,1.50,1.732051,1.0,30.750000,16.459546,35.5,1.000000,2.000000,0.0
1,f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a...,<30,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO,f5e39c38b5d7ae57a67a4e533d1c3fbadcbddae039868a...,121.166667,104.938836,...,0.0000,1.00,1.732051,0.0,5.000000,4.000000,5.0,2.000000,1.000000,2.0
2,365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbea...,<30,Nordeste,Ciências Exatas,NÃO,SIM,SIM,365bea1e0e58d1dd2124f6156f41cf26bde7babc74cbea...,137.458250,84.177776,...,0.0000,0.00,0.000000,0.0,8.500000,3.000000,8.0,1.000000,0.816497,1.0
3,d59df35ac8cca9741c7d14751827a93372178571f12e72...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,SIM,NÃO,NÃO,d59df35ac8cca9741c7d14751827a93372178571f12e72...,130.087250,83.990720,...,0.0000,0.50,0.577350,0.5,4.000000,3.559026,3.0,1.250000,1.892969,0.5
4,9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5b...,<30,Sul/Sudeste,Ciências Exatas,NÃO,SIM,SIM,9e5ef9fc98988ed88abae4dcc91ea7b05672e5ea261b5b...,124.039000,98.167128,...,0.0000,1.00,1.000000,1.0,23.000000,10.440307,18.0,23.000000,9.539392,24.0
5,ba3138325b35c4d45f2a9ece725128f7b9f88df5c4828e...,<30,Nordeste,Ciências Humanas,SIM,SIM,SIM,ba3138325b35c4d45f2a9ece725128f7b9f88df5c4828e...,143.566750,81.803653,...,0.0000,4.25,3.304038,3.0,194.250000,74.271462,181.0,14.000000,8.286535,13.5
6,dba68f39815752c5ce8ed9ed8740d520ad5b1fd9640f8d...,<30,Nordeste,Ciências Exatas,SIM,SIM,SIM,dba68f39815752c5ce8ed9ed8740d520ad5b1fd9640f8d...,122.491750,84.038784,...,1.1665,4.75,3.403430,4.0,35.000000,22.730303,32.5,10.250000,11.086779,6.5
7,ad6acd323806e30ca6a37ad2cb78f28493addc17339ef2...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,SIM,SIM,SIM,ad6acd323806e30ca6a37ad2cb78f28493addc17339ef2...,127.858500,81.099765,...,0.0000,0.25,0.500000,0.0,53.750000,14.863266,58.5,6.750000,4.856267,6.0
8,86542b003e830186a9f5a8ce2f147bfecf7ba00c73e897...,>=30 e <=40,Nordeste,Ciências Humanas,SIM,SIM,SIM,86542b003e830186a9f5a8ce2f147bfecf7ba00c73e897...,138.358250,84.918975,...,0.0000,0.25,0.500000,0.0,6.750000,7.274384,5.5,2.000000,1.414214,2.5
9,6b1335aa7b237370369cd619a67b4695844f97bc1f42be...,<30,Sul/Sudeste,Ciências Exatas,SIM,SIM,SIM,6b1335aa7b237370369cd619a67b4695844f97bc1f42be...,144.333250,82.198208,...,0.0000,0.25,0.500000,0.0,33.750000,3.947573,34.5,6.250000,1.500000,6.0
10,47a7c412c0ede005f50d7fcf7c9207e69e53f2045d81c7...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,NÃO,NÃO,NÃO,47a7c412c0ede005f50d7fcf7c9207e69e53f2045d81c7...,140.158250,83.232708,...,0.0000,0.25,0.500000,0.0,27.250000,13.500000,30.5,4.250000,3.685557,4.0
11,71ebcb21b682814489a1c1ca431691e9c0c38a28ebeece...,>=30 e <=40,Sul/Sudeste,Ciências Humanas,NÃO,NÃO,NÃO,71ebcb21b682814489a1c1ca431691e9c0c38a28ebeece...,141.754250,80.467223,...,0.0000,0.00,0.000000,0.0,75.000000,26.919633,78.5,5.750000,0.957427,5.5
12,ca37c192f9f7539369cd549189760345543f168d828f33...,<30,Sul/Sudeste,Ciências Exatas,NÃO,NÃO,NÃO,ca37c192f9f7539369cd549189760345543f168d828f33...,125.105333,99.345915,...,0.0000,1.00,1.732051,0.0,86.666667,10.692677,81.0,2.666667,3.785939,1.0
13,a73035ba29e279c7dd54a959055e0ddafacb294addf8df...,>=30 e <=40,Nordeste,Ciências Exatas,SIM,SIM,SIM,a73035ba29e279c7dd54a959055e0ddafacb294addf8df...,138.200250,87.048392,...,0.0000,1.25,1.258306,1.0,16.250000,12.841988,12.0,8.000000,12.727922,2.5
14,daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb...,<30,Nordeste,Ciências Exatas,NÃO,SIM,SIM,daed0aa5ffdee628ae24991b2c984f66ac26a172f830bb...,140.154250,82.950760,...,0.0000,1.25,1.258306,1.0,46.750000,15.195942,47.5,9.250000,11.295279,4.5
15,3c24c973491a4900c95f36a53c7e70a52c48a08e706eda...,>=30 e <=40,Sul/Sudeste,Ciências Exatas,NÃO,NÃO,NÃO,3c24c973491a4900c95f36a53c7e70a52c48a08e706eda...,139.241500,86.733488,...,0.0000,0.50,0.577350,0.5,1.750000,2.061553,1.5,0.750000,0.500000,1.0
16,edab98fbc0a76faf6231492eccd3cac4779cdce812248f...,<30,Sul/Sudeste,Ciências Exatas,SIM,SIM,SIM,edab98fbc0a76faf6231492eccd3cac4779cdce812248f...,143.620750,92.190679,...,0.0000,1.75,1.258306,2.0,70.250000,25.837634,70.5,68.500000,13.771952,65.5
17,92a66ccdd2dc048646b940702877736fa5941c6eafee71...,>=30 e <=40,Nordeste,Ciências Humanas,SIM,SIM,SIM,92a66ccdd2dc048646b940702877736fa5941c6eafee71...,137.808250,87.232559,...,0.0000,1.25,1.500000,1.0,32.000000,9.055385,34.5,6.250000,2.986079,6.0
18,8e59bee15978f8c0a1d9a9d82802b2be19083c373454fd...,>=30 e <=40,Nordeste,Ciências Exatas,SIM,SIM,SIM,8e59bee15978f8c0a1d9a9d82802b2be19083c373454fd...,136.325000,92.186854,...,0.0000,1.75,1.707825,1.5,40.250000,13.937360,39.0,10.250000,6.994045,10.0
19,5c42c56b65dbc3ef6676cd3cb68accb47c45ee9b25ce54...,<30,Nordeste,Ciências Exatas,SIM,SIM,SIM,5c42c56b65dbc3ef6676cd3cb68accb47c45ee9b25ce54...,140.587500,84.378782,...,0.0000,0.00,0.000000,0.0,0.000000,0.000000,0.0,2.000000,2.160247,1.5